@charset "utf-8";

.svg-menu img {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 1.25em;
}
.svg-menu ul {
    margin: 10px;   
}
.svg-menu ul li {
    display: inline;
    padding: 0 20px;
    font-family: fantasy;
    font-weight: 300;
    font-size: 14pt;
}
.billboard {
    text-align: center;
    margin-top: 80px;
    font-family: fantasy;
    font-weight: 800;
    font-size: 36pt;
    border-left: 8px solid brown;
    border-right: 8px solid brown;
}
p {
    color: blue;
}
.animated {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
}
